<section class="post">
  <header class="post-header">
    <h2>Sample Blog Post</h2>
  </header>
  <div class="post-content">
    <p class="author">Author: John Doe</p>
    <p class="date">Published: October 15, 2023</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    <a href="/blog/post1">Read more</a>
  </div>
</section>

{{!         <section class="post">
          <header class="post-header">
            <h2>Sample Blog Post</h2>
          </header>
          <div class="post-content">
            <p class="author">Author: John Doe</p>
            <p class="date">Published: October 15, 2023</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <a href="/blog/post1">Read more</a>
          </div>
        </section>

        <section class="post">
          <header class="post-header">
            <h2>Another Blog Post</h2>
          </header>
          <div class="post-content">
            <p class="author">Author: Jane Smith</p>
            <p class="date">Published: October 16, 2023</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <a href="/blog/post2">Read more</a>
          </div>
        </section> }}