<html>
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard</title>
  </head>
  <body>
    <header>
      <h1>Welcome to Your Dashboard</h1>
    </header>
    <main>
      <section>
        <!-- You can add content specific to the user's dashboard here -->

        {{#if logged_in}}
        {{> personal-blogs}}
          <button class="add-blog-button">+ Add Blog</button>
        {{else}}
        {{/if}}
      </section>
    </main>
  </body>
</html>

{{!--  {{#each blogPost}}
                {{/each}} --}}