<html>
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard</title>
  </head>
  <body>
    <header>
      <h1>Welcome to Your Dashboard</h1>
    </header>
    <main>
      <section>
        <!-- You can add content specific to the user's dashboard here -->

        {{#if logged_in}}
        <div id="blogs-container">
          {{> personal-blogs}}
        </div>
        <div class="new-post-form-container" style="display: none;">
          {{> new-post}}
        </div>
        <button class="add-blog-button" id="show-new-post">+ Add Blog</button>
        {{/if}}


      </section>
    </main>
  </body>
</html>


      <script src="/js/dashboard.js"></script>

{{!--  {{#each blogPost}}
                {{/each}} --}}